<div class="row">
          <div class="col-xs-12 col-md-2">
            <!-- Start Sidebar -->
            <aside id="nav-aside" class="sidebarfloat nav nav-sidebar">
              <ul class="nav nav-second-level">
                <li class="anchorheads divider" role="separator"><a href="#/verify/api">API</a></li>
                <li class="sub-nav active"><a href="#/verify/api">Dashboard</a></li>
                <li class="sub-nav"><a href="#/verify/api/reporting">Reporting</a></li>
                <li class="sub-nav"><a href="/verify/api/search-requests">Search requests</a></li>
                <li class="anchorheads divider" role="separator"><a href="/verify/sdk">SDK</a></li>
                <li class="sub-nav"><a href="/verify/sdk">Dashboard</a></li>
                <li class="sub-nav"><a href="/verify/sdk/reporting">Reporting</a></li>
                <li class="sub-nav"><a href="/verify/sdk/search-users">Search users</a></li>
                <li class="sub-nav"><a href="/verify/sdk/manage-apps">Manage apps</a></li>
              </ul>
            </aside>
            <!-- End Sidebar -->
          </div>
          <div class="col-xs-12 col-md-10">
            <section id="messagingPage" class="main-content">


			<div>

                <h1 style="float: left;">Dashboard</h1>


                  
                <div class="dropdown" style="float: right; margin-left: 20px;">
                  <select name="date_input" id="date_input" class="form-control valid" style=" box-shadow: none;">
       
                    <option selected="">Last 30 days</option>
                  
                    <option>Last 7 days</option>
                  
                    <option>Last 24 hours</option>
                    
                  </select>
                </div>

                <div class="dropdown" style="float: right;">
                  <select name="end_hour_download_input" id="end_hour_download_input" class="form-control" style=" box-shadow: none;">
                    <option selected="">All API keys</option>
                  
                    <option>One API key</option>
                  
                    <option>Another API key</option>

                    <option>Another API key</option>

                    <option>Another API key</option>
                  
                  </select>
                </div>
              
              </div>

              <div  style="clear: both;">

                <div class="panel panel-default" style="float: left; width: 22%; margin-right: 4%; border-radius: 0px; box-shadow: none;">
                  <div class="panel-body" style="padding: 15 10; display: table; margin: auto;">
                    Successful verifications
                  </div>
                </div>

                <div class="panel panel-default" style="float: left; width: 22%; margin-right: 4%; border-radius: 0px; box-shadow: none;">
                  <div class="panel-body" style="padding: 15 10; display: table; margin: auto;">
                    Total requests
                  </div>
                </div>

                <div class="panel panel-default" style="float: left; width: 22%; margin-right: 4%; border-radius: 0px; box-shadow: none;">
                  <div class="panel-body" style="padding: 15 10; display: table; margin: auto;">
                    Average duration 
                  </div>
                </div>

                <div class="panel panel-default" style="float: left; width: 22%; border-radius: 0px; box-shadow: none;">
                  <div class="panel-body" style="padding: inherit; padding-top: 15px; padding-bottom: 15px; display: table; margin: auto;">
                    Total verification charges
                  </div>
                </div>
              
              </div>

              <h2 style="clear: both;">Requests</h2>


              <div class="container-fluid">
                  <div class="row">
                      <div class="col-md-3 col-lg-3 col-sm-3 ">
                          <div id="chart1_pie"></div>
                      </div>
                      <div class="col-md-9 col-lg-9 col-sm-9">
                          <div id="chart2_stackedBar"></div>
                      </div>
                  </div>
                </div>

              <div id="chart" style=" margin-top: 45px; width: 22%;float: left;"></div>
              <div id="bar-chart" style="width: 78%; float: left;"><svg></svg></div>                

              <h2>Charges</h2>

              <div id="line-chart"></div>

            </section>


			  