<div class="row">
          <div class="col-xs-12 col-md-2">
            <!-- Start Sidebar -->
            <aside id="nav-aside" class="sidebarfloat nav nav-sidebar">
              <ul class="nav nav-second-level">
                <li class="anchorheads divider" role="separator"><a href="#/verify/api">API</a></li>
                <li class="sub-nav"><a href="#/verify/api">Dashboard</a></li>
                <li class="sub-nav active"><a href="#/verify/api/reporting">Reporting</a></li>
                <li class="sub-nav"><a href="/verify/api/search-requests">Search requests</a></li>
                <li class="anchorheads divider" role="separator"><a href="/verify/sdk">SDK</a></li>
                <li class="sub-nav"><a href="/verify/sdk">Dashboard</a></li>
                <li class="sub-nav"><a href="/verify/sdk/reporting">Reporting</a></li>
                <li class="sub-nav"><a href="/verify/sdk/search-users">Search users</a></li>
                <li class="sub-nav"><a href="/verify/sdk/manage-apps">Manage apps</a></li>
              </ul>
            </aside>
            <!-- End Sidebar -->
          </div>
          <div class="col-xs-12 col-md-10">
            <section id="messagingPage" class="main-content">

				<h1>Reporting</h1>
				

				<div class="dropdown" style="width: 16%; float: left; margin-right: 1%;">
					<label style="font-weight: bold">Select Date: </label>
                  	<select name="end_hour_download_input" id="end_hour_download_input" class="form-control" style=" box-shadow: none;">
	                    <option selected="">All API keys</option>
	                  
	                    <option>Master</option>
	                  
	                    <option>Secondary</option>
                  
                  	</select>
                </div>

				<form id="dateRangeForm" method="post" class="form" style="width: 16%; float: left; margin-right: 1%;">
				    <div class="form-group">
						<label style="font-weight: bold">From</label>
				        <div class="date">
				            <div class="input-group input-append date" id="dateRangePicker">
				                <input type="text" class="form-control" name="date" style=" box-shadow: none; border-right-width: 0px;" />
				                <span class="input-group-addon add-on" style="background-color: #fff; border-radius: 0px;"><img src="resources/img/83_calendar.png" style="width: 15px"></span>
				            </div>
				        </div>
				    </div>
				</form>

				<form id="dateRangeForm2" method="post" class="form" style="width: 16%; float: left; margin-right: 1%;">
				    <div class="form-group">
						<label style="font-weight: bold">To</label>
				        <div class="date">
				            <div class="input-group input-append date" id="dateRangePicker2">
				                <input type="text" class="form-control" name="date" style=" box-shadow: none; border-right-width: 0px;" />
				                <span class="input-group-addon add-on" style="background-color: #fff; border-radius: 0px;"><img src="resources/img/83_calendar.png" style="width: 15px"></span>
				            </div>
				        </div>
				    </div>
				</form>

				<div class="dropdown" style="width: 16%; float: left; margin-right: 1%;">
					<label style="font-weight: bold">Display by</label>
                  	<select name="end_hour_download_input" id="end_hour_download_input" class="form-control" style=" box-shadow: none;">
	                    <option selected="">Country</option>
	                  
	                    <option>Day</option>
                  
                  	</select>
                </div>

				
				<button type="button" class="btn btn-primary" style="width: 10%; margin-top: 31px; border: none;">Search</button>



            </section>



