/*css for graph starts*/
.stackGroupBarChart .y.axis{
    display: none;
}

.stackGroupBarChart .x.axis .tick{
    display: none;
}


.d3-tip {
  font-size: 12px;
  line-height: 1.5;
  font-weight: bold;
  padding: 5px 10px;
  background: #fff;
  color: #fff;
  border-radius: 7px;
  pointer-events: none;
  border:1px solid #ccc;
  text-align: center;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;

  border-color: rgba(255, 255, 255, 0);
  border-top-color: #ffffff;
  border-width: 10px;
  margin-left: -10px;
}

.d3-tip:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;

  border-color: rgba(204, 204, 204, 0);
  border-top-color: #ccc;
  border-width: 11px;
  margin-left: -11px;
}

/*Bar css*/

.stackGroupBarChart text {
    font: 14px Averta;
}

.stackGroupBarChart .axis path,
.stackGroupBarChart .axis line {
    fill: none;
    stroke: #dddddd;
    shape-rendering: crispEdges;
}



