/* core fonts */
/*
body#payment { background-color: #ebebeb }
h1 {
    font-size: 28px;
    margin-bottom: 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-weight: normal;
    color: #033f61;
    margin-top: 0;
    margin-bottom: 0.75em;
}
p {
    font-size: 16px;
    color: #787878;
}
p a { text-decoration: underline }
.btn-link {
    text-decoration: underline;
    margin: -2px 0 0 0;
    padding: 0;
}
.btn-link:hover { text-decoration: none }

/* content */
.container-content {
    background-color: #fff;
    padding-top: 4em;
}

@media (max-width: 767px) { 
    .main-content { margin-top: 1em }
}
.main-content.payments { margin-top: -1em }
.text-primary { color: #000 }

/* navbar */
.navbar-default {
    height: 50px;
    background: #128ec3;
    background: -moz-linear-gradient(-72deg,#128ec3 0,#046a9a 100%);
    background: -webkit-gradient(linear,left top,right bottom,color-stop(0,#128ec3),color-stop(100%,#046a9a));
    background: -webkit-linear-gradient(-72deg,#128ec3 0,#046a9a 100%);
    background: -o-linear-gradient(-72deg,#128ec3 0,#046a9a 100%);
    background: -ms-linear-gradient(-72deg,#128ec3 0,#046a9a 100%);
    background: linear-gradient(135deg,#128ec3 0,#046a9a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#128ec3', endColorstr='#046a9a', GradientType=1);
}
.navbar-brand {
    background: url('https://www.nexmo.com/assets/img/nexmo-logo--white.svg') no-repeat;
    display: inline-block;
    height: 21px;
    background-position: left center;
    background-size: contain;
    text-indent: -9999px;
    width: 115px;
    margin-top: 8px;
}
.navbar-default {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
}
@media (min-width: 768px) { 
    .navbar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand { margin-left: 0 }
    .mobile-nav { display: none }
}
@media (max-width: 767px) { 
    .navbar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand { margin-left: 15px }
    .nav.navbar-nav.navbar-right.pull-right {
        margin-top: 3px;
        font-size: .75em;
    }
    .navbar-default .navbar-collapse { background-color: #3b606b }
    .navbar-fixed-top .navbar-collapse { max-height: none }
    .navbar-nav>li>a {
        padding-top: 2px;
        padding-bottom: 2px;
    }
    .navbar-nav {
        margin-top: 0;
        margin-bottom: 0;
    }
    .mobile-nav {
        margin-top: 10px;
    }
    .side-nav { margin-top: 20px !important }
    .account-nav {
        background-color: #324349;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 10px;
    }
}
.navbar-default .navbar-nav>li>a { color: #fff }
.navbar-brand,
.navbar-nav>li>a { text-shadow: none }
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    text-decoration: underline;
    color: #fff;
}
.navbar-default .navbar-toggle .icon-bar { background-color: #fff }
.navbar-default .navbar-toggle:hover .icon-bar { background-color: #888 }
.navbar-secondary {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    margin-top: 50px;
    border-radius: 0;
    margin-bottom: 0;
}
.navbar-secondary { background-color: #3b606b }
.navbar-secondary li a { color: #fff }
.navbar-secondary .nav>li>a:focus,
.navbar-secondary .nav>li>a:hover {
    background-color: #3b606b;
    text-decoration: underline;
}
.navbar-secondary .nav.navbar-right>li>a:focus,
.navbar-secondary .nav.navbar-right>li>a:hover { background-color: #324349 }
.navbar-secondary .nav.navbar-right>li {
    background-color: #324349;
    padding: 15px 0;
    margin-top: 0px;
}
.navbar-secondary .navbar-nav>li {
    margin-top: 15px;
    border-right: solid 1px #fff;
}
@media (min-width: 768px) { 
    .navbar-secondary .navbar-nav>li:first-child { margin-left: -15px }
}
.navbar-secondary .navbar-nav>li:last-child { border-right: none }
.navbar-secondary .navbar-nav>li a {
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-right { margin-right: 0 }
.navbar-right .fa-plus,
.mobile-nav .fa-plus { margin-left: .8em }

/* sub menu mobile */
.mobile-nav-sub{
    list-style: none;
    margin: 0 0 0 2em;
    padding: 0;
}
.mobile-nav-sub li a{
    color: #fff;
}

/* side nav */
.side-nav {
    list-style: none;
    margin: 0;
    padding: 0;
}
.side-nav a { color: #555555 }
.side-nav li { margin: .4em 0 }
.side-nav .selected a { font-weight: 800 }

/* side info panel */
.side-info-panel {
    background-color: #ebebeb;
    padding: 15px 12px;
    margin: 20px 0;
}
.side-info-panel-heading {
    font-size: 1.4em;
    font-family: 'Roboto', sans-serif;
    margin-bottom: .4em;
    font-weight: 800;
}
.side-info-panel-heading .fa {
    margin-top: .2em;
    color: #555555;
}
.side-info-panel-body ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #555555;
}
.side-info-panel-key,
.side-info-panel-value { display: inline-block }
.side-info-panel-key { width: 80px }

/* buttons */
.btn-primary {
    background: #128ec3;
    background: -moz-linear-gradient(-72deg,#128ec3 0,#046a9a 100%);
    background: -webkit-gradient(linear,left top,right bottom,color-stop(0,#128ec3),color-stop(100%,#046a9a));
    background: -webkit-linear-gradient(-72deg,#128ec3 0,#046a9a 100%);
    background: -o-linear-gradient(-72deg,#128ec3 0,#046a9a 100%);
    background: -ms-linear-gradient(-72deg,#128ec3 0,#046a9a 100%);
    background: linear-gradient(135deg,#128ec3 0,#046a9a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#128ec3', endColorstr='#046a9a', GradientType=1);
}
.btn-primary:hover {
    background: #006894;
    background: -moz-linear-gradient(-72deg,#006894 0,#00415F 100%);
    background: -webkit-gradient(linear,left top,right bottom,color-stop(0,#006894),color-stop(100%,#00415F));
    background: -webkit-linear-gradient(-72deg,#006894 0,#00415F 100%);
    background: -o-linear-gradient(-72deg,#006894 0,#00415F 100%);
    background: -ms-linear-gradient(-72deg,#006894 0,#00415F 100%);
    background: linear-gradient(135deg,#006894 0,#00415F 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006894', endColorstr='#00415F', GradientType=1);
}
.btn-default {
    color: #0d88bc;
    background-color: #fff;
    border: 1px solid #3092c1;
}
.btn-default:hover {
    color: #0d88bc;
    background: #fff;
    background: -moz-linear-gradient(top,#fff 0,#e7f4f9 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#e7f4f9));
    background: -webkit-linear-gradient(top,#fff 0,#e7f4f9 100%);
    background: -o-linear-gradient(top,#fff 0,#e7f4f9 100%);
    background: -ms-linear-gradient(top,#fff 0,#e7f4f9 100%);
    background: linear-gradient(to bottom,#fff 0,#e7f4f9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e7f4f9', GradientType=0);
    border: 1px solid #3092c1;
}
body section a.btn {
    margin-top: 2em;
    margin-bottom: 2em;
    text-decoration: none;
}
body section a.btn.clear-margin {
    margin-top: 0;
    margin-bottom: 0;
}
/* forms */
#main { padding-bottom: 1em }
fieldset.verify-support-services {
    margin-top: -8px;
    margin-bottom: -10px;
}
.verify-support-services .help-block.form-error { display: none }
.form-control { font-size: 13px }
.form-control-feedback {
    margin-right: .6em;
}
.hint {
    margin-top: 1.2em;
    font-size: .9em;
}
.cvv-error,
.has-error .form-error,
.verify-support-services-error .form-error {
    background-color: #FFF2F2;
    margin-top: 0px;
    padding: 1em;
}
.cvv-error{
	color: #a94442;
}
.has-error .form-control{
	border-color: red;
}
.verify-support-services-error .form-error { color: #a94442 }
.form-info {
    background-color: #EFFAFF;
    margin-top: 0px;
    padding: 1em;
    display: inline-block;
}
.has-success .form-info { color: #787878 }
.has-success .form-info.password-info { display: none }
.has-error .form-info { display: none }
.input-group-addon:hover {
    cursor: pointer;
    cursor: hand;
}
.textarea-field-alert {
    margin-top: .3em;
    margin-right: .8em !important;
}
/*
.question-help {
    float: right;
    position: absolute;
    margin-left: -52px;
    margin-top: 9px;
    color: #ABABAB;
}

.question-help:hover { cursor: help }
.popover.popover-normal { max-width: 300px }
.popover {
    max-width: 100%;
    background-color: #F5F5F5;
    border-radius: 0;
}
.popover.bottom>.arrow:after { border-bottom-color: #F5F5F5 }*/

#form-verify { margin-top: 3em }
#form-verify input.form-control[type=text] {
    font-size: 2em;
    text-align: center;
}
#error-message-wrapper .form-error,
#form-verify .help-block.form-error {
    background-color: #FFF2F2;
    margin-top: 1em;
    padding: 1em;
    color: #a94442;
    display: inline-block;
}
#error-message-wrapper,
#error-message-wrapper-static { position: initial }
#error-message-wrapper .form-error { width: 100% }
@media (min-width: 768px) { 
    .form-group-verify { padding-right: 0 }
}
@media (max-width: 991px) { 
    .form-group-verify [type=submit] { margin-top: 1em }
    .form-horizontal .form-group {
        margin-right: 0;
        margin-left: 0;
    }
    #formTopUp { float: none !important }
}
@media (min-width: 992px) { 
    .form-group-verify.button-container { margin-top: -46px }
}
@media (min-width: 992px) { 
    .form-horizontal .control-label.label-left {
        text-align: left;
        padding-left: 30px;
    }
}
.form-horizontal .form-group { margin-right: 0 }
#formTopUp { float: right }

/* select2 custom */
.has-error .select2-container .select2-selection--single,
.has-error .form-error .select2-container .select2-selection--single { border-color: red }
.has-success .select2-container .select2-selection--single { border-color: #3c763d }
.select2-container .select2-selection--single {
    height: 46px;
    border: 1px solid #ccc;
    font-size: 16px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered { line-height: 2.6em }
.select2-container--default .select2-selection--single .select2-selection__arrow { top: 10px }
.select2-normal .select2-container .select2-selection--single { height: 34px }
.select2-normal .select2-container--default .select2-selection--single .select2-selection__rendered { line-height: 28px }
.select2-normal .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: auto;
    top: 18px;
}
@media (min-width: 768px) { 
    #formTopUp .select2-container{
        width:300px !important;
    }
}
/* payments */
/* payments amount section */
body section.amount a.btn {
    margin-top: 0;
    margin-bottom: 0;
}
section.amount {
    margin-top: 1em;
    display: inline-block;
    min-width: 100%;
}
section.amount a,
section.add-payment a { text-decoration: underline }
section.amount a:hover,
section.add-payment a:hover { text-decoration: none }
section.amount span.amount-text {
    margin-right: 3em;
    font-size: 1.2em;
}
@media (max-width: 767px) { 
    section.amount span.amount-text { display: block }
    body section.amount a.btn { margin-top: -3em }
}

/* payments add payments section */
section.add-payment { margin-top: 2em }
section h2 { font-size: 1.6em }
section h3 {
    font-size: 1.2em;
    margin-top: 1em;
}
section.add-payment label {
    font-weight: normal;
    margin: 0 0 .2em;
}
.help-text h4 {
    font-size: 1.1em;
    font-weight: 800;
    margin-bottom: .2em;
    color: #000;
}
.help-text p {
    font-size: 1em;
    color: #000;
}
.payment-info { margin-bottom: 2em }
.payment-info th,
.billing-address th {
    font-weight: normal;
    padding-right: 3em;
    vertical-align: top;
}
.payment-info .balance th,
.payment-info .balance td {
    padding-top: 1em;
    font-weight: 800;
}
.billing-address td { padding-bottom: 1em }

/* modal */
.modal label {
    font-size: 1.2em;
    font-weight: normal;
}
.modal-title { font-size: 1.8em }
.modal-body,
.modal-header { padding: 30px 30px 0 30px }
.modal-header { border-bottom: none }
.modal-footer {
    border-top: none;
    padding: 30px;
}
.modal-title-success { color: #588215 }

/* misc */
hr { border-top: 1px solid #000 }
.spacer20 { margin-top: 20px }
.spacer30 { margin-top: 30px }
.spacer-bottom-30 { margin-bottom: 30px }
.spacer-bottom-20 { margin-bottom: 20px }
.spacer-bottom-15 { margin-bottom: 15px !important}
.alert-success { background: none }
.alert-success,
.text-success { color: #588215 }
.alert-error,
.text-error { color: #e04a46 }
.alert-pending { color: #fecb2f }
.text-pending { color: #000 }
.alert-pending .fa-check {
    color: #000;
    font-size: 1.3em;
    margin-top: .05em;
}
.alert-pending .fa-stack {
    font-size: 1em;
    margin: 0 .4em 0 0;
}
.alert-success p{
    display: table-cell;
}
.span-row { display: block }
.width70 { width: 70px !important }
.border-left { border-left: solid #C0C0C0 1px }
@media (max-width: 991px) { 
    .border-left { border-left: none }
    .mobile-spacing { margin: 8px 0 }
}
.download {
    font-size: 1.4em;
    color: #000;
}
.download-disabled {
    font-size: 1.4em;
    color: #ddd;
}
.download:hover,
.download:active,
.download:visited,
.download:focus { text-decoration: none }
.tooltip-inner {
    max-width: none;
    width: auto;
}
.mobile-spacer{
    margin-top: 2em;
    display: inline-block;
}
/* lists */
.list-payment-method {
    list-style: none;
    margin: 0;
    padding: 0;
}
.list-payment-method li { margin: 0 0 1em 0 }
.list-payment-method .card-expire .fa { color: #e04a46 }
h3 .bootstrap-switch {
    float: right;
    margin-top: -14px;
}
.visual-indicator {
    list-style: none;
    padding: 0;
    margin: 0;
}
.visual-indicator li { display: inline-block }
.visual-indicator li i { color: #1795ce }
.visual-indicator li i.dash {
    border-top: solid 4px #1795ce;
    width: 1.6em;
    display: block;
    margin-left: -.4em;
    margin-right: -.4em;
    margin-top: -.85em;
}

/* payment cards */
.cards {
    width: 43px;
    height: 26px;
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 100%;
    margin-right: 8px;
    vertical-align: middle;
}
.small {
    width: 32px;
    height: 19px;
}
.new {
    background-image: none;
    width: 0;
    height: 0;
    margin-right: 0;
}
.amex { background-image: url('../img/paymentmethods/amex.png') }
.credit { background-image: url('../img/paymentmethods/credit.png') }
.mastercard { background-image: url('../img/paymentmethods/mastercard.png') }
.paypal { background-image: url('../img/paymentmethods/paypal.png') }
.visa { background-image: url('../img/paymentmethods/visa.png') }
.bank-transfer { background-image: url('../img/paymentmethods/bank-transfer.png') }
.alipay { background-image: url('../img/paymentmethods/alipay.png') }

/* tables */
/*
.table { border: solid 1px #dbdbdb }
.table thead { background-color: #dbdbdb }
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th { border-top: none }
.table tfoot td { text-align: center }
*/
.paging {
    list-style: none;
    margin: 0 0 1em 0;
    padding: 0;
    font-size: 1.2em;
}
.paging li {
    display: inline-block;
    margin: 0 .4em;
}

.paging li .fa { font-size: 1.2em; }*/