
/* core fonts */
body{
  font-family: HelveticaNeue, 'Helvetica Neue', Helvetica, Helvetica, Arial, 'Lucida Grande', sans-serif;
  background-color: #ebf1f3;
}
h1 {
  font-size: 28px;
  margin-bottom: 1em;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-weight: normal;
  color: #033f61;
  margin-top: 0;
  margin-bottom: 0.75em;
}
p{
	font-size: 16px;
	color: #787878;
}
p a{
	text-decoration: underline;
}

/* content */
.container-content{
	background-color: #fff;
	padding-top: 4em;
}
.main-content{
	margin-top: 3em;
}
@media (max-width: 767px){
	.main-content{
		margin-top: 1em;
	}
}
.main-content.payments{
	margin-top: -1em;
}
/* navbar */
.navbar-default{
	height: 50px;
	background: #128ec3;
	background: -moz-linear-gradient(-72deg,#128ec3 0,#046a9a 100%);
	background: -webkit-gradient(linear,left top,right bottom,color-stop(0,#128ec3),color-stop(100%,#046a9a));
	background: -webkit-linear-gradient(-72deg,#128ec3 0,#046a9a 100%);
	background: -o-linear-gradient(-72deg,#128ec3 0,#046a9a 100%);
	background: -ms-linear-gradient(-72deg,#128ec3 0,#046a9a 100%);
	background: linear-gradient(135deg,#128ec3 0,#046a9a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#128ec3', endColorstr='#046a9a', GradientType=1);
}

.navbar-brand{
	/* background: url('https://www.nexmo.com/assets/img/nexmo-logo--white.svg') no-repeat; */
	/* background: url('https://www.nexmo.comresources/img/nexmo-logo--white.svg') no-repeat; */
	background: url('resources/img/nexmo-logo--white.svg') no-repeat;
	/* href='${pageContext.request.contextPath}resources/img/nexmo-logo--white.svg' */
	
	display: inline-block;
 	height: 21px;
 	background-position: left center;
 	background-size: contain;
  	text-indent: -9999px;
  	width: 115px;
  	margin-top: 8px;
}
.navbar-default{
	-webkit-box-shadow: none;
  	box-shadow: none;
  	border: none;
}

@media (min-width: 768px){
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  		margin-left: 0;
	}
}

@media (max-width: 767px){
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  		margin-left: 15px;
	}
	.nav.navbar-nav.navbar-right.pull-right{
		margin-top: 3px;
		font-size: .75em;
	}
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}
.navbar-brand, .navbar-nav>li>a {
  text-shadow: none;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    text-decoration: underline;
  	color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-default .navbar-toggle:hover .icon-bar {
  background-color: #888;
}

.navbar-secondary {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  margin-top: 50px;
  border-radius: 0;
  margin-bottom: 0;
}
.navbar-secondary {
  background-color: #3b606b;
}
.navbar-secondary li a{
	color: #fff;
}
.navbar-secondary .nav>li>a:focus, .navbar-secondary .nav>li>a:hover {
  	/*background-color: #324349;*/
  	background-color: #3b606b;
  	text-decoration: underline;
}
.navbar-secondary .nav.navbar-right>li>a:focus, .navbar-secondary .nav.navbar-right>li>a:hover {
	background-color: #324349;
}
.navbar-secondary .nav.navbar-right>li{
	background-color: #324349;
	padding: 15px 0;
  	margin-top: 0px;  	
}
.navbar-secondary .navbar-nav>li {
	margin-top: 15px;	
  	border-right: solid 1px #fff;
}
@media (min-width: 768px){
	.navbar-secondary .navbar-nav>li:first-child{
  		margin-left: -15px;
  	}
}

.navbar-secondary .navbar-nav>li:last-child {
	border-right: none;
}	
.navbar-secondary .navbar-nav>li a{
  	padding-top: 0;
  	padding-bottom: 0;
}
/* side nav */
.side-nav{
	list-style: none;
	margin: 0;
  	padding: 0;
}
.side-nav a{
	color: #555555;
}
.side-nav li{
	margin: .4em 0;
}
.side-nav .selected a{
	font-weight: 800;
}


/* side info panel */
.side-info-panel{
	background-color: #ebebeb;
	padding: 15px 12px;
	margin: 20px 0;
}
.side-info-panel-heading{
	font-size: 1.4em;
	font-family: 'Roboto', sans-serif;
	margin-bottom: .4em;
	font-weight: 800;
}
.side-info-panel-heading .fa{
	margin-top: .2em;
	color: #555555;
}
.side-info-panel-body ul{
	list-style: none;
	margin: 0;
	padding: 0;
	color: #555555; 
}
.side-info-panel-key,
.side-info-panel-value{
	display: inline-block;
}
.side-info-panel-key{
	width: 80px;
}
/* buttons */
.btn-primary {
	background: #128ec3;
	background: -moz-linear-gradient(-72deg,#128ec3 0,#046a9a 100%);
	background: -webkit-gradient(linear,left top,right bottom,color-stop(0,#128ec3),color-stop(100%,#046a9a));
	background: -webkit-linear-gradient(-72deg,#128ec3 0,#046a9a 100%);
	background: -o-linear-gradient(-72deg,#128ec3 0,#046a9a 100%);
	background: -ms-linear-gradient(-72deg,#128ec3 0,#046a9a 100%);
	background: linear-gradient(135deg,#128ec3 0,#046a9a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#128ec3', endColorstr='#046a9a', GradientType=1);
}
.btn-primary:hover {
	background: #006894;
	background: -moz-linear-gradient(-72deg,#006894 0,#00415F 100%);
	background: -webkit-gradient(linear,left top,right bottom,color-stop(0,#006894),color-stop(100%,#00415F));
	background: -webkit-linear-gradient(-72deg,#006894 0,#00415F 100%);
	background: -o-linear-gradient(-72deg,#006894 0,#00415F 100%);
	background: -ms-linear-gradient(-72deg,#006894 0,#00415F 100%);
	background: linear-gradient(135deg,#006894 0,#00415F 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006894', endColorstr='#00415F', GradientType=1);
}
 
/* footer */
footer{
	border-top: 1px solid #dbe4e7; 
}
#footer p{
	margin: 2em 0;
	display: inline-block;
}
#footer, #footer p{
	color: #adb6ba;
	font-size: 12px;
	text-align: center;
}
#footer ul{
	list-style: none;
	margin: 2em 0;
	display: inline-block;
}
#footer ul li{
	display: inline-block;
	margin-right: 2em;
}
#footer li a{
	text-decoration: underline;
}	
@media (max-width: 767px){
	#footer p{
		display: block;
	}
	#footer ul{	
		margin-top: 0;
	}		
}

/* forms */
 #main{
    padding-bottom: 4em;
}
#submit{
 /*margin-top: 2em;   */
}

.form-control {
	font-size: 16px;
}	

.form-control-feedback{
	margin-right: .6em;
	/*color: #ABABAB;*/
}
.hint{
	margin-top: 1.2em;
	font-size: .9em;
}
.has-error .form-error{
	background-color: #FFF2F2;
	margin-top: 0px;
	padding: 1em;
}
.form-info{
	background-color: #EFFAFF;
	margin-top: 0px;
	padding: 1em;
	display: inline-block;
}
.has-success .form-info{
	color: #787878;
}
.has-success .form-info.password-info{
	display: none;
}
.has-error .form-info{
	display: none;
}
.input-group-addon:hover{
	cursor: pointer;
	cursor: hand;
}
.question-help{
	float: right;
	position: absolute;
	margin-left: -52px;
	margin-top: 9px;
	color: #ABABAB;
}
.question-help:hover{
	cursor: help;
}
/*
.popover{
    max-width: 100%;
    background-color: #F5F5F5;
    border-radius: 0;
}
.popover.bottom>.arrow:after{
	border-bottom-color: #F5F5F5;
}*/
#form-verify{
	margin-top: 3em;

}
#form-verify input.form-control[type=text]{
	font-size: 2em;
  	text-align: center;
}


#error-message-wrapper .form-error,
#form-verify .help-block.form-error{
	background-color: #FFF2F2;
	margin-top: 1em;
	padding: 1em;
	color: #a94442;
	display: inline-block;
}
#error-message-wrapper,
#error-message-wrapper-static{
	position: initial;
}

#error-message-wrapper .form-error{
	width: 100%;
}


@media (min-width: 768px){
	.form-group-verify{
		padding-right: 0;
	}	
}
@media (max-width: 991px){
	.form-group-verify [type=submit] {
  		margin-top: 1em;
	}	
}

@media (min-width: 992px){
	.form-group-verify.button-container{
		margin-top: -46px;
	}
}	
#phone{
	
}

/* select2 custom */

.has-error .select2-container .select2-selection--single,
.has-error .form-error .select2-container .select2-selection--single{
	border-color: red;
}
.has-success .select2-container .select2-selection--single{
	border-color: #3c763d;
}
.select2-container .select2-selection--single {
	height: 46px;
	border: 1px solid #ccc;
	font-size: 16px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
 	line-height: 2.6em;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 10px;
}
/* payments */
/* payments amount section */
section.amount{
	margin-top: 1em;
	display: inline-block;
}
section.amount a,
section.add-payment a{
	text-decoration: underline;
}
section.amount a:hover,
section.add-payment a:hover{
	text-decoration: none;
}
section span{
	margin-right: 3em;
	font-size: 1.2em;
}
/* payments add payments section */
section.add-payment{
	margin-top: 2em;
}
section.add-payment h2{
	font-size: 1.6em;	
}
section.add-payment h3{
  font-size: 1.2em;
}  

/* misc */
hr {
  border-top: 1px solid #000;
}

