/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {
	outline: none;
}
.slides,
.flex-control-nav,
.flex-direction-nav {
	margin: 0; 
	padding: 0; 
	list-style: none;
} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {
	margin: 0; 
	padding: 0;
}
.flexslider .slides > li {
	display: none; 
	-webkit-backface-visibility: hidden;
} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
	width: 100%; 
	display: block;
	}
.flex-pauseplay span {
	text-transform: capitalize;
}

/* Clearfix for the .slides element */
.slides:after {
	content: "."; 
	display: block; 
	clear: both; 
	visibility: hidden; 
	line-height: 0; 
	height: 0;
} 
html[xmlns] .slides {
	display: block;
	} 
* html .slides {
	height: 1%;
	}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {
	margin: 0 0 60px;
	border: none; 
	position: relative; 

	zoom: 1;
}
.flex-viewport {
	max-height: 2000px; 
	-webkit-transition: all 1s ease; 
	-moz-transition: all 1s ease; 
	transition: all 1s ease;
	}
.loading .flex-viewport {
	max-height: 300px;
}
.flexslider .slides {
	zoom: 1;
	}
.carousel li {
	margin-right: 5px
}


/* Direction Nav 
ul.customers-nav {
	position: absolute;
	width: 100%;
	margin-top: 3em;
}
ul.customers-nav li a {
	display: block;
	height: 47px;
	width: 26px;
	line-height: 0;
}
ul.customers-nav li {
	display: inline-block;
	position: absolute;
	height: 47px;
	width: 26px;
}
ul.customers-nav li.next  {
	right: 1em;
}
ul.customers-nav li.previous {
	left: 1em;
}
ul.customers-nav li.previous a {
	background-position: left -181px;
}
ul.customers-nav li.next a {
	background-position: right -266px;
}*/


.flex-direction-nav {
	*height: 0;
}
.flex-direction-nav a {
	width: 26px; 
	height: 50px; 
	margin: -20px 0 0; 
	display: block; 
	background: url(../img/arrows.svg) no-repeat;
	position: absolute; 
	top: 50%; 
	z-index: 10; 
	cursor: pointer; 
	text-indent: -9999px; 
	opacity: 0.4; 
	line-height: 0;
	-webkit-transition: all .3s ease;
	}
.flex-direction-nav .flex-next {
	background-position: right -266px;
	right: 40px; 
}
.flex-direction-nav .flex-prev {
	background-position: left -181px;
	left: 40px;
/*	opacity: 0.4;*/
}
.flexslider:hover .flex-next {
	opacity: 0.8; 
	right: 20px;
}
.flexslider:hover .flex-prev {
	opacity: 0.8; 
	left: 20px;
}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
	opacity: 1;
}
.flex-direction-nav .flex-disabled {
	opacity: 0.3!important; 
	filter:alpha(opacity=30); 
	cursor: default;
}

/* Control Nav */
.flex-control-nav {
	width: 100%; 
	position: absolute; 
	bottom: -40px; 
	text-align: center;
}
.flex-control-nav li {
	margin: 0 6px; 
	display: inline-block; 
	zoom: 1; 
	*display: inline;
	}
.flex-control-paging li a {
	width: 11px; 
	height: 11px; 
	display: block; 
	background: #364A50; 
	cursor: pointer; 
	text-indent: -9999px; 
	-webkit-border-radius: 20px; 
	-moz-border-radius: 20px; 
	-o-border-radius: 20px; 
	border-radius: 20px;
}
.flex-control-paging li a:hover { 
	background: rgb(42,63,70); 
}
.flex-control-paging li a.flex-active { 
	background: rgb(255,255,255); 
	cursor: default; 
}

.flex-control-thumbs {
	margin: 5px 0 0; 
	position: static; 
	overflow: hidden;
}
.flex-control-thumbs li {
	width: 25%; 
	float: left; 
	margin: 0;
	}
.flex-control-thumbs img {
	width: 100%; 
	display: block; 
	opacity: .7; 
	cursor: pointer;
	}
.flex-control-thumbs img:hover {
	opacity: 1;
	}
.flex-control-thumbs .flex-active {
	opacity: 1; 
	cursor: default;
	}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
  	opacity: 1; 
  	left: 0;
  	}
  .flex-direction-nav .flex-next {
  	opacity: 1; 
  	right: 0;
  }
}