.dashboard-wrap>div {
	padding: 0em;
}


/* Visual Bullet Points
------------------------------ */
ul.completed {
	list-style-image: url('../img/green_check.png');
}
ul.completed li {
	padding-left:10px;
	padding-top:10px;
}


ol.circle {
	margin-left: 0; /** overrides Bootstrap */
	margin-top:40px;
	counter-reset: li;
	list-style: none;
}

ol.circle li {
	position: relative;
	counter-increment: jump;
}

ol.circle li span {
	margin-left:50px;
}

ol.circle li:before {
	content: counter(jump);
	
	position: absolute; 
	top: 0; left: 0;

	font-size: 20px;
	line-height:33px; text-align: center; 

	border-radius: 50%;
	width: 35px; height: 35px; 
	background: rgb(163, 163, 163);
	color: white;
}


/* Grid System
------------------------------ */
.grid {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 1232px;
}
.grid.getting-started {
	border-bottom: 1px solid #f8f8f8;
	padding-bottom: 60px;
}
div {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.grid__item a {
	text-decoration: underline;
}
.grid__item {
	margin-left: 1.33%;
	margin-right: 1.33%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
}
.grid:after, 
.grid:before {
	content: " ";
	display: table;
}
.grid:after {
	clear: both;
}
.border-right { 
	border-right: 1px solid #f8f8f8; 
	padding-right:10px;
}
.grid__item--2 {
	width: 30.66%;
}
.grid__item--3 {
	max-width: 568px;
	width: 47.33%;
}
.grid__item--4 {
	max-width: 768px;
	width: 64%;
}
.sub-title {
	line-height: 20px;
	margin-bottom: 0;
}

/* Notifications
------------------------------ */
.notification h4 {
	font-weight: bold;
}
.notification.warning {
	color: #d21917;
	background-color: #FFE6E6;
	padding: 10px;
	margin-bottom: 20px;
}

/* Tab Wrapper
------------------------------ */
.tab-widget {
	
	margin-top:30px; /*CH*/

	width: 95%;
	border: 1px solid #b9b9b9;
	border-radius: 4px;
	margin-bottom: 1em;

	background: rgb(229, 229, 229);
}

/* Tab Headers
------------------------------ */
.selected  {
	background: rgb(163, 163, 163);
	display: block;
}
.selected .product_title {
	color: white;
}
.product_title {
	font-family: Roboto,sans-serif;
	font-weight: 500;
	color: #3092c1;
	display: block;
}
.product_details, 
.product_title {
	color: #818789;
	display: block;
	white-space: nowrap;
}


/* Solved: font size inside tab headers can cause a real problem for mobiles */
@media (max-width: 830px) {  
   .product_title { font-size: 8.5px; }  
   #MainColumn, .tab-widget { width: 100%; } 
   #SideColumn { display: none; } 
}
@media (min-width: 831px) and (max-width: 930px) {  
   .product_title { font-size: 11px; }  
}
@media (min-width: 931px) and (max-width: 1050px) {
   .product_title {  font-size: 13px;  }
}
@media (min-width: 1051px) {
   .product_title { font-size: 16px;  }
}

/* Tab Content
------------------------------ */
.tab-control {
	text-align: justify;
	border-bottom: 1px solid #dedede;
	background: #f5f5f5;
}
.tab-control li {
	float: left;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
}
.four_tabs li {
	width: 25%;
}
.three_tabs li {
	width: 33.33%;
}
.tab-control li.selected a {
	background: rgb(163, 163, 163);
}
.tab-control li a {
	background: white;

	display: block;
	text-decoration: none;
	padding: 10px 20px;
	position: relative;
	bottom: -1px;
	border-bottom: 1px solid #dedede;
	border-right: 1px solid #dedede;
	min-height: 50px;
	line-height: 50px;
	-webkit-transition: background-color .4s;
	-moz-transition: background-color .4s;
	-ms-transition: background-color .4s;
	-o-transition: background-color .4s;
}
.tab-panel {
	padding: 100px 20px 20px 20px;
	min-height: 200px;
}
.keys {
	color: #999;
	padding: 10px 0 20px 0;
	margin-left: 50px;
}
.tab-help-link { 
	display: block;
	margin: 20px 0 0 0; 
}
