@import 'datepicker.css';
@import url(//fonts.googleapis.com/css?family=Roboto:400,500);
@import 'datepicker.css';
/*!
 * Nexmo dashboard CSS
 * designed and coded with love by the lovely chaps from Supereight Studio Ltd.
 * May 2013
 * Updated Jan 2015 v2
 */
.roboto {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.robotoMedium {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
/*
- - - Variables, mixins and styles to embed - - - -
*/
.proximaBold,
.proximaReg,
strong {
  font-weight: normal;
}
.colorTransition {
  transition: color .15s linear;
  -webkit-transition: color .15s linear;
  -moz-transition: color .15s linear;
}
/* - - Helpers - - */
.delist,
.delist li {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* main layout/css start */
body {
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", Helvetica, Arial, "Lucida Grande", sans-serif;
  min-width: 320px;
  font-size: 16px;
}
a,
a:link,
a:visited {
  color: #0094c8;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-weight: normal;
  transition: color .15s linear;
  -webkit-transition: color .15s linear;
  -moz-transition: color .15s linear;
  cursor: hand;
  cursor: pointer;
}
a:hover {
  transition: color .15s linear;
  -webkit-transition: color .15s linear;
  -moz-transition: color .15s linear;
}
h1,
h2,
h3,
h4,
p.highlight {
  letter-spacing: -0.025em;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
h2 {
  color: #414141;
  font-size: 3.3em;
  margin-bottom: .75em;
}
h2 .lead {
  color: #99a4a9;
  display: block;
  letter-spacing: 0;
  font-size: 38px;
  margin-top: 0.5em;
  margin-bottom: -0.5em;
}
.title,
.sub-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-weight: normal;
  margin-bottom: 0.5em;
  clear: left;
  color: #033f61;
}
.title {
  font-size: 24px;
}
.dashboard-header .title {
  margin-bottom: 0;
}
.sub-title {
  font-size: 18px;
}
.helper-info {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  color: #666666;
}
.title-wrap {
  border-bottom: 1px solid #DBE4E7;
  margin-bottom: 1.5em;
}
.title-wrap .title,
.title-wrap .sub-title {
  float: left;
}
.highlight {
  color: #2699c1;
}
.centered {
  text-align: center;
}
p,
ul {
  font-size: 1em;
  color: #787878;
  line-height: 1.6em;
  font-weight: 200!important;
}
ul li ul li {
  font-size: .9em!important;
}
p.lead {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 2em;
  font-size: 1.2em;
  line-height: 1.5em;
}
p.highlight {
  color: #fff!important;
  font-style: italic;
  margin-bottom: 2em;
}
.highlight2 {
  color: #0089AF;
}
p {
  margin-bottom: 1em;
}
.container-fluid {
  max-width: 1200px;
  padding: 0 1em ;
  margin: 0 auto;
  position: relative;
}
.span2 .span1-4 {
  width: 140px;
}
@media (max-width: 749px) {
  .row-fluid .span2 {
    margin-left: 0;
    margin-right: 1em;
  }
}
@media screen and (max-width: 876px) {
  .span2 .span1-4 {
    width: auto;
    float: none!important;
  }
}
.row-fluid [class*="span"]:first-child {
  margin-left: 0;
}
@media screen and (max-width: 876px) and (min-width: 767px) {
  .get-started .row-fluid [class*="span"]:first-child {
    margin-left: 0 !important;
    float: none!important;
    width: auto !important;
  }
  .get-started .row-fluid .span4:nth-of-type(2n),
  .get-started .row-fluid .span4:nth-of-type(3n) {
    width: 49%;
    margin-left: 0;
  }
  .get-started .row-fluid .span4:nth-of-type(2n) {
    margin-right: 2%;
  }
}
.row-fluid .flex-col + .flex-col {
  margin-left: 2.564102564102564%;
}
@media screen and (max-width: 876px) {
  .row-fluid .flex-col + .flex-col {
    margin-left: 0 !important;
    float: none!important;
    width: auto !important;
  }
}
@media screen and (max-width: 876px) {
  .pull-left {
    float: none!important;
  }
  .input-small {
    width: 60%!important;
    max-width: 100%!important;
  }
}
@media screen and (max-width: 876px) {
  .input-small {
    width: 100%!important;
  }
}
/*
- - - - HEADE - - - - -
*/
.page-header {
  background: #128ec3;
  /* Old browsers */
  background: -moz-linear-gradient(-72deg, #128ec3 0%, #046a9a 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #128ec3), color-stop(100%, #046a9a));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-72deg, #128ec3 0%, #046a9a 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-72deg, #128ec3 0%, #046a9a 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-72deg, #128ec3 0%, #046a9a 100%);
  /* IE10+ */
  background: linear-gradient(135deg, #128ec3 0%, #046a9a 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#128ec3', endColorstr='#046a9a', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  padding: .75em 0 .8em;
  margin: 0 auto;
  border-bottom: 0;
  position: relative;
  z-index: 99;
}
.page-header .page-logo {
  float: left;
  border: none;
  display: block;
  margin-top: .25em;
  width: 8%;
  min-width: 100px;
  max-width: auto;
}
.page-header .page-logo svg path,
.page-header .page-logo svg circle {
  fill: #ffffff;
}
.page-header .page-logo:hover {
  opacity: 0.75;
}
.page-header .welcome {
  float: left;
  color: #fff;
  margin: 0.5em 0 0 1em;
  font-size: 14px;
}
.page-header .imgborder {
  border: 1px solid #f4f4f4;
}
.nav_link,
#responsive-nav {
  display: none;
}
#logo img {
  max-width: auto;
}
.header-right {
  float: right;
}
.balance,
.profile {
  float: left;
}
.balance {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-weight: normal;
  color: #67a9c7;
  color: rgba(255, 255, 255, 0.4);
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -ms-transition: color 0.4s;
  -o-transition: color 0.4s;
  font-size: 16px;
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  position: absolute;
  top: -0.8em;
  right: 5.5em;
  padding: 1.2em 1em 0.9em;
}
.balance:hover {
  /*    color: #fff !important;*/
  color: #ffffff;
  text-decoration: none;
}
.balance:hover span {
  color: #fff;
}
.balance span {
  color: #67a9c7;
  font-family: "SSStandard";
  font-weight: bold;
  position: relative;
  margin-left: 5px;
  font-size: 10px;
}
.balance span:hover {
  text-decoration: none;
  color: #fff;
}
.balance span.credit-limit{
    display: block; 
    font-family:"Roboto",sans-serif; 
    margin: -5px 5px 0 0; 
    color: #67a9c7;
}
.profile {
  position: absolute;
  top: -0.8em;
  right: 1.5em;
}
.profile a {
  padding: 0.8em 0.5em 0.7em;
  display: block;
}
.profile:hover > a,
.profile > a:hover {
  text-decoration: none;
}
.profile:hover > a .toggle,
.profile > a:hover .toggle {
  color: #fff;
}
.profile img {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.profile .toggle {
  color: #67a9c7;
  font-size: 14px;
  margin-left: 0.25em;
  position: relative;
  top: 0.25em;
}
.outer {
  overflow: hidden;
}
/*
- - - - - FOOTER - - - - - */
#footer-wrapper {
  color: #adb6ba;
  font-size: .875em;
  width: 95%;
  margin: 0 auto;
  text-align: center;
}
.page-footer {
  padding: 2.4em 0;
}
.page-footer ul {
  margin-bottom: 0;
}
.page-footer li {
  display: inline;
  list-style: none;
  margin-right: 1em;
}
.page-footer a {
  color: #aaaaaa;
}
#wrapper {
  width: 95%;
  background: #fff;
  border: 1px solid #dbe4e7;
  border-radius: 5px;
  margin: 0 auto 1em;
  display: table;
}
.toggle {
  font-size: 10px;
  margin-bottom: -2px;
}
/*
- - - - DASH NAV - - - - */
.dash-nav {
  background: #ffffff;
}
.dash-menu li {
  font-size: 14px;
  font-size: 0.875rem;
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
.dash-menu li .toggle {
  display: none;
  color: #999999;
}
.dash-menu li a {
  display: block;
  padding: 1em;
  color: #033f61;
  transition: none;
  -moz-transition: none;
  -webkit-transition: none;
}
.dash-menu li a:hover {
  text-decoration: none;
  transition: none;
  -moz-transition: none;
  -webkit-transition: none;
}
.dash-menu li.active a,
.dash-menu li.active a:hover {
  /* background: #f2f2f2; */
  color: #2a3f46;
}
.dash-menu li.active.has-sub-menu a:hover .toggle {
  background: #006e95;
  background: #f1f1f1;
}
.dash-menu li.has-sub-menu .toggle {
  display: inline-block;
}
.dash-menu li.has-sub-menu:hover {
  background: #f1f1f1;
}
.dash-menu > li {
  float: left;
}
.dash-menu > li.right {
  float: right;
}
.dash-menu > li a:hover {
  background: #f1f1f1;
  color: #033f61;
}
li:hover > ul.sub-menu,
div:hover > ul.sub-menu {
  display: block;
}
ul.sub-menu {
  margin: 0;
  list-style: none;
  position: absolute;
  top: 3.4em;
  left: 0;
  z-index: 99;
  background: #f1f1f1;
  min-width: 7em;
  border: none;
  padding: 0;
  display: none;
}
.profile ul.sub-menu {
  background: #f1f1f1;
  left: auto;
  right: 0;
  min-width: 5em;
  top: 100%;
  margin-top: -1px;
}
.profile ul.sub-menu li a {
  color: #033f61;
}
.profile ul.sub-menu li a:hover {
  background: #e7f4f9;
}
ul.sub-menu li {
  display: block;
  text-align: left;
}
ul.sub-menu li a {
  display: block;
  padding: 0.5em 1em;
  white-space: nowrap;
  color: #033f61;
  font-size: 0.875rem;
}
ul.sub-menu li a:hover {
  background: #0094c8;
  text-decoration: none;
  background: #e7f4f9;
  color: #3092c1;
}
ul.sub-menu li:last-of-type a {
  border-radius: 0 0 4px 4px;
}
a.mobile-toggle {
  width: 46px;
  height: 42px;
  position: relative;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  float: right;
  outline: 0;
  left: 0;
  margin-top: -18px;
  margin-bottom: -20px;
}
a.mobile-toggle:before,
a.mobile-toggle:after,
a.mobile-toggle span {
  content: ' ';
  position: absolute;
  left: 10px;
  right: 10px;
  height: 3px;
  background: rgba(255, 255, 255, 0.8);
  color: #fff;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  border-radius: 2px;
}
a.mobile-toggle:before {
  top: 10px;
  font-size: 9px;
  line-height: 28px;
}
a.mobile-toggle:after {
  bottom: 10px;
}
a.mobile-toggle span {
  bottom: 19px;
}
a.mobile-toggle:hover:before,
a.mobile-toggle:hover:after,
a.mobile-toggle:hover span {
  background: #ffffff;
  color: #fff;
}
a.mobile-toggle.menu-open {
  left: -260px;
}
a.mobile-toggle.menu-open span {
  opacity: 0;
}
a.mobile-toggle.menu-open:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform-origin: 50% 50%;
  content: ' ';
}
a.mobile-toggle.menu-open:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform-origin: 50% 50%;
}
a.mobile-toggle.menu-open:before,
a.mobile-toggle.menu-open:after {
  top: 20px;
  left: 10px;
}
/*
- - - - - - API SETTINGS - - - - - - */
.api-settings {
  background: #006e95;
  padding: 1em 0;
}
.api-settings ul li {
  float: left;
  color: #b3c3c9;
  margin-right: 1.5em;
  font-size: 14px;
  font-size: 0.875rem;
}
.api-settings ul li strong {
  color: #fff;
}
.api-settings ul li.right {
  float: right;
}
.api-settings .api-close {
  color: #8e9da2;
  font-size: 22px;
  height: 22px;
  text-decoration: none;
  position: relative;
  top: 0.25em;
}
.api-settings .api-close:hover {
  color: #fff;
}
.api-settings .api-close span {
  display: none;
}
/* 
- - - - - - BUTTONS - - - - - */
.btn,
a.btn,
[type="submit"].button {
  border: none;
  font-weight: bold;
  font-size: 0.875em;
  color: #284048!important;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3);
  padding: 0.75em 2em .8em 2em;
  margin-top: -0.75em;
  display: inline-block;
  background: #fff;
  border: 1px solid #3092c1;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  filter: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  color: #3092c1!important;
}
.btn:hover,
a.btn:hover,
[type="submit"].button:hover {
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #e7f4f9 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e7f4f9));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%, #e7f4f9 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%, #e7f4f9 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%, #e7f4f9 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%, #e7f4f9 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e7f4f9', GradientType=0);
  /* IE6-9 */
}
.primary-btn {
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.875rem;
  color: #ffffff!important;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  padding: 0.75em 2em .6em 2em;
  margin-top: -0.75em;
  box-shadow: 0px 3px 0px #d55421;
  background: #ff7039;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmNzAzOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMzYwMjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #ff7039 0%, #f36027 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff7039), color-stop(100%, #f36027));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ff7039 0%, #f36027 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ff7039 0%, #f36027 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ff7039 0%, #f36027 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ff7039 0%, #f36027 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7039', endColorstr='#f36027', GradientType=0);
  /* IE6-8 */
}
.primary-btn:hover {
  background: #ff7039;
  color: #ffffff;
}
.no-label {
  margin-top: 1.75em;
}
/*
 - - - - - - DASHBOARD PANEL - - - - - */
.dashboard-wrap {
  background: #fff;
  margin-top: 2em;
}
.dashboard-wrap > div,
.dashboard-wrap > header {
  padding: 2em;
}
.dashboard-wrap > div.dashboard-header,
.dashboard-wrap > header.dashboard-header {
  padding: 1em 1.75em;
}
/* ++ 27.11.13 */
@media (max-width: 480px) {
  .dashboard-wrap > div.dashboard-header,
  .dashboard-wrap > header.dashboard-header,
  .dashboard-wrap > div {
    padding-left: 1em;
    padding-right: 1em;
  }
  .container-fluid {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  .dashboard-wrap {
    margin-top: 1em;
  }
}
.dashboard-wrap .dashboard-footer {
  padding: 0;
}
.dashboard-header,
.get-started {
  border-bottom: 1px solid #dbe4e7;
}
.dashboard-footer {
  border-top: 1px solid #dbe4e7;
}
.get-started {
  position: relative;
}
.get-started .get-started-close {
  position: absolute;
  right: 2em;
  top: 2em;
  font-size: 22px;
  color: #bac6ca;
}
.get-started .get-started-close span {
  display: none;
}
.get-started .get-started-close:hover {
  text-decoration: none;
  color: #284048;
}
#chartdiv {
  margin-top: 2em;
  margin-bottom: 2em;
}
/* -- Tables -- */
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #dbe4e7;
  margin-bottom: 2em;
}
tr:nth-child(odd) {
  background: #f2f7f8;
}
td,
th {
  border: 1px solid #dbe4e7;
  padding: 12px 20px;
  text-align: left;
  font-size: 0.875rem;
}
thead tr th {
  background: #ebf1f3;
  color: #284048;
}
li.depth-1 > a {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-weight: normal;
}
/*
- - - - - FORMS - - - - - */
input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
textarea,
select {
  /*
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 5px;
  border: 2px solid #aaaaaa;
  padding: 0.7em 0.5em;
  color: #2a3f46!important;
  font-family: 'Lato', sans-serif;
  font-size: 0.875rem;
  background: #ffffff;
  height: 43px;
  max-width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 5px;
  border: 2px solid #adb6ba;
  padding: 0.75em 0.75em 0.6em;
  color: #2a3f46!important;
  font-size: 16px;
  max-width: 100%;
  border: 1px solid #b9b9b9;
  background: #fff;
  color: #666;
  line-height: 1.2em;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="email"]:focus,
textarea:focus,
select:focus,
input[type="text"].selected,
input[type="password"].selected,
input[type="search"].selected,
input[type="email"].selected,
textarea.selected,
select.selected {
  outline: none;
  border-color: #3092c1;
  color: #303638;
}
input[type="text"].error,
input[type="password"].error,
input[type="search"].error,
input[type="email"].error,
textarea.error,
select.error {
  border-color: #c00;
}
input[type="text"].input-error,
input[type="password"].input-error,
input[type="search"].input-error,
input[type="email"].input-error,
textarea.input-error,
select.input-error {
  border: 1px solid #f36262;
}
input[type="text"].input-small,
input[type="password"].input-small,
input[type="search"].input-small,
input[type="email"].input-small,
textarea.input-small,
select.input-small {
  width: 110px;
  display: inline-block;
}
input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
textarea {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 43px;
}
.input-append {
  /*
  max-width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
*/
  position: relative;
}
@media (max-width: 767px) {
  max-width: 200px;
}
.input-append input[type="text"] {
  border-right: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  /*  max-width: 70%;
  min-width: auto;
*/
  width: 100%;
  border-radius: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.input-append .add-on {
  border-width: 2px;
  border-color: #aaaaaa;
  height: auto;
  line-height: auto;
  font-size: 16px;
  line-height: 20px;
  width: 30px;
  text-align: center;
  width: auto;
  max-width: 30%;
  height: 43px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
}
.input-append .add-on i {
  font-size: 18px;
  color: #364A51;
  display: block;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  min-width: 20px;
  margin-top: 7px;
}
@media (max-width: 940px) {
  form .row-fluid .span2 {
    width: 40% !important;
    margin-left: 0 !important;
    margin-right: 5% !important;
    float: left !important;
  }
}
@media (max-width: 560px) {
  form .row-fluid .span2 {
    width: auto !important;
    float: none !important;
  }
  form .row-fluid .span2 select.input-medium {
    width: 100%;
  }
}
.input-append.datepicker:before {
  content: ' ';
  display: none;
}
fieldset {
  margin-bottom: 1em;
}
.input-append {
  padding: 0;
}
label {
  color: #364a51;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
}
input[type="checkbox"] {
  margin-top: 1em;
}
.label-helper {
  display: block;
  color: #787878;
}
fieldset {
  color: #787878;
}
label.checkbox {
  font-size: 1em;
  display: inline-block;
  width: 100%;
}
.form-horizontal .controls input,
.form-horizontal .controls select {
  position: relative;
  top: -0.5em;
  max-width: 200px;
}
.controls input[type="image"] {
  margin-left: -1em;
}
/*
  .span2 select {
    max-width: 100%;
    width: 50%;
    top: auto;
  }*/
.form-horizontal.labels-left .control-group label {
  text-align: left;
}
textarea {
  margin-bottom: 0;
}
input:focus {
  border-color: #2699c1!important;
  box-shadow: none!important;
}
select {
  background: #ffffff url(../img/select-arrows.png) no-repeat 102% center;
  height: 3.1em;
  line-height: 1.2em;
  height: 43px;
}
@media screena and (max-width: 480px) {
  select {
    width: 100% !important;
  }
}
select#currency {
  width: 120px;
}
input#autocomplete {
  width: 30%;
}
.control-group input[type="submit"] {
  margin-top: 0;
}
.form-horizontal {
  margin: 2em 0 3em;
}
.subset-widget {
  border-radius: 5px;
  background: #f2f2f2;
  padding: 1.2em;
  text-align: center;
  margin: 2em 0;
}
.subset-widget .title {
  color: #0094c8;
}
.subset-widget .title span {
  position: relative;
  bottom: -3px;
}
.get-started .api-settings {
  display: inline-block;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 5px;
  margin-bottom: 1em;
}
.get-started .api-settings li {
  font-size: 1.1em;
}
.dashboard-header .title {
  float: left;
}
div.dash-header-nav {
  float: right;
  margin-top: 0.75em;
}
a.dash-header-link:hover {
  text-decoration: none;
}
a.get-started-link {
  color: #778387;
}
a.get-started-link:hover {
  text-decoration: none;
  color: #FF6600;
}
a .ss-navigatedown {
  font-size: 10px !important;
}
.snapshot li {
  width: 33%;
  float: left;
}
.snapshot li:first-of-type {
  border-right: 1px solid #dbe4e7;
}
.snapshot li:last-of-type {
  border-left: 1px solid #dbe4e7;
}
.snapshot li .inner {
  padding: 3em 2em;
  text-align: center;
}

.snapshot li.payflow {
  line-height: 30px;
  height: 250px;
}

label.medium {
  font-size: 1em;
}

.snapshot li .innerp {
  padding: 3em 2em;
}

.snapshot li .snapshot-title {
  font-size: 24px;
  display: block;
  margin-bottom: 1em;
}
.snapshot li.outbound .snapshot-title {
  color: #35b30e;
}
.snapshot li.bounced .snapshot-title {
  color: #d24c4f;
}
.snapshot li.spent .snapshot-title {
  color: #dabc43;
}
.snapshot li .snapshot-stat {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #284048;
  font-size: 32px;
}
.snapshot li span.ss-icon {
  font-size: 18px;
  margin-right: 0.25em;
  position: relative;
  top: 1px;
}
@media screen and (max-width: 600px) {
  .snapshot li .snapshot-title {
    font-size: 18px;
  }
  .snapshot li .snapshot-stat {
    font-size: 24px;
  }
  .snapshot li span.ss-icon {
    font-size: 14px;
  }
}
@media screen and (max-width: 460px) {
  .snapshot li span.ss-icon {
    display: none;
  }
}
.pipe-tabs {
  border-bottom: none;
}
.pipe-tabs li {
  position: static;
  margin: 0;
  padding: 0;
  display: inline-block;
}
.pipe-tabs li a {
  padding: 0 0.5em;
  border-right: 1px solid #DBE4E7;
  margin: 0;
  top: auto;
  bottom: auto;
}
.pipe-tabs li a.active:hover,
.pipe-tabs li a:hover {
  background: transparent;
  border: none;
  border-right: 1px solid #DBE4E7;
  text-decoration: underline;
}
.pipe-tabs li.active a {
  color: #999;
  text-decoration: underline;
  border: none;
  border-right: 1px solid #DBE4E7;
}
.pipe-tabs li.active a:hover {
  border: none;
  border-right: 1px solid #DBE4E7;
}
.mobile-nav-item {
  display: none;
}
.mobile-nav-icon {
  font-size: 12px;
  color: #b3c3c9;
}
@media (max-width: 840px) {
  .mobile-nav-item {
    display: block;
  }
  .hide-mobile {
    display: none;
  }
  ul#nav {
    position: static;
  }
  header {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
  }
  nav ul {
    display: none;
  }
  .nav_link {
    display: inline-block;
    margin: 0.5em 0 0;
    font-size: 1.2em;
    float: right;
  }
  .nav_link a {
    color: #ffffff;
    text-decoration: none;
  }
}
@media (max-width: 767px) {
  body {
    padding: 0;
  }
  .get-started .get-started-close {
    position: static;
    float: right;
  }
}
@media (max-width: 700px) {
  .page-footer ul {
    max-width: 300px;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    -o-column-count: 2;
    column-count: 2;
  }
  .page-footer li {
    display: block;
    text-align: left;
  }
  .page-footer li.credit {
    column-span: all;
    /* CSS3 */
    -webkit-column-span: all;
    /* Safari and Chrome */
    -moz-column-span: all;
    /* Firefox */
    -ms-column-span: all;
    /* Internet Explorer */
    -o-column-span: all;
    /* Opera */
  }
}
ul.pagenav {
  margin-left: 20px;
}
ul.pagenav li {
  list-style-type: none;
  padding-left: 10px;
  display: block;
  float: left;
}
ul.pagenav li.current {
  font-weight: bold;
}
.waiting {
  background: url(../img/wait.gif) no-repeat;
  margin-top: 30px;
  height: 11px;
  width: 43px;
}
a[href="#add_number"] {
  margin-bottom: 1em;
}
li.inbound {
  border-right: 1px solid #DBE4E7;
}
.asmContainer {
  max-width: 400px;
}
@media (max-width: 880px) {
  /*
    - - -  PUSH THEAD TO THE LEFT AND BODY TO RIGHT WITH SCROLLBARS
  */
  table:not(.table-condensed) {
    display: block;
    position: relative;
    width: 100%;
    clear: both;
    background: #ebf1f3;
  }
  table:not(.table-condensed) thead {
    display: block;
    float: left;
  }
  table:not(.table-condensed) thead tr {
    display: block;
  }
  table:not(.table-condensed) th {
    display: block;
    min-height: 30px;
    vertical-align: middle;
  }
  table:not(.table-condensed) tbody {
    display: block;
    width: auto;
    position: relative;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
  }
  table:not(.table-condensed) tbody tr {
    display: inline-block;
    vertical-align: top;
  }
  table:not(.table-condensed) > tbody > tr {
    margin-right: -4px;
  }
  table:not(.table-condensed) td {
    display: block;
    min-height: 1.25em;
    min-height: 30px;
    vertical-align: middle;
  }
  table:not(.table-condensed) td input[type="text"] {
    margin-bottom: 0;
    padding: 0.5em;
    height: auto;
    margin-top: -0.25em;
    margin-bottom: -0.3em;
  }
  table:not(.table-condensed) td input[style] {
    width: 160px !important;
    margin-right: 0.5em;
  }
}
@media (max-width: 880px) and (max-width: 480px) {
  table:not(.table-condensed) th,
  table:not(.table-condensed) td {
    padding-left: 0.75em;
    padding-right: 0.75em;
  }
}
/* _ _ _ _ End 880px _ _ _ _ _ */
.table-title-wrap {
  clear: both;
}
.table-title-wrap a.pull-right {
  margin-top: 1em;
}
/*
- - - - MESSAGE RESULTS STYLING - - - */
.message-set {
  border: 1px solid #dbe4e7;
  margin-bottom: 1em;
}
.message-set-snippet,
.message-set-detail {
  padding: 0.5em;
  overflow: hidden;
  position: relative;
}
.message-set-snippet {
  background: #dbe4e7;
  background: #f2f7f8;
}
.message-set .toggle {
  display: none;
  font-size: 14px;
  color: #2A3F46;
  margin-right: 1em;
  position: absolute;
  bottom: 2.5em;
  right: 1em;
}
.message-set .toggle:hover {
  text-decoration: none;
  color: #ff6600;
}
.message-set .toggle:before {
  font-size: 12px;
  margin-right: 0.5em;
  position: relative;
  top: 2px;
  color: #ff6600;
}
.set-col {
  float: left;
  margin-right: 1em;
  width: 15%;
  margin-right: 1.66%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  /*
  margin-right: 3%;
  padding-left: 3%;
  border-left: 1px solid #dbe4e7;*/
}
.set-col.pull-right {
  float: right;
}
.sms-message {
  max-width: 500px;
  width: auto;
  text-overflow: clip;
  white-space: normal;
  overflow: auto;
}
.set-col:nth-child(1) {
  border: none;
}
/*
.account-id,
.date-id  {
  border-left: 1px solid #dbe4e7;
}*/
.set-label {
  display: block;
  font-size: 12px;
  color: #2A3F46;
}
@media (max-width: 1170px) {
  .message-set-snippet .set-col,
  .message-set-detail .set-col {
    display: inline-block;
    width: auto;
    margin-right: 1.5em;
    float: none!important;
  }
}
@media (max-width: 930px) {
  .message-set-snippet .set-col,
  .message-set-detail .set-col {
    float: left!important;
    width: 30%;
    margin-right: 3%;
    margin-bottom: 1em;
  }
  .message-set-snippet .set-col {
    border-bottom: 1px solid #dbe4e7;
    padding-bottom: 0.5em;
  }
  .message-set-detail .sms-message {
    width: auto!important;
    float: none!important;
    max-width: 100%;
  }
  .message-set-detail {
    display: none;
  }
  .message-set .toggle {
    display: block;
  }
}
@media (max-width: 662px) {
  .message-set-snippet .set-col,
  .message-set-detail .set-col {
    width: 49%;
    margin-right: 2%;
  }
  .message-set-snippet .set-col:nth-of-type(2n),
  .message-set-detail .set-col:nth-of-type(2n) {
    margin-right: 0;
  }
}
@media (max-width: 459px) {
  .message-set-snippet .set-col,
  .message-set-detail .set-col {
    width: auto!important;
    float: none!important;
    display: block;
    margin-bottom: 0.25em;
  }
  .message-set .toggle {
    right: 0.25em;
    bottom: 1.5em;
  }
}
[data-status="delivered"],
[data-status="good"] {
  color: #15b989;
}
[data-status="mid"] {
  color: #ff6600;
}
[data-status="failed"],
[data-status="poor"] {
  color: #B94A48;
}
/* - - - - / MESSAGE RESULTS STYLING - - - */
@media (max-width: 480px) {
  #zenbox_tab {
    -webkit-transform: rotate(-90deg) scale(0.75);
    -moz-transform: rotate(-90deg) scale(0.75);
    -o-transform: rotate(-90deg) scale(0.75);
    transform: rotate(-90deg) scale(0.75);
  }
}
/* --- table sorter ---- */
table.tablesorter tr:nth-child(odd) {
  background: #f8f8f8;
}
table.tablesorter td,
table.tablesorter th {
  border: 1px solid #d8d8d8;
  padding: 12px 12px;
  text-align: left;
}
table.tablesorter thead tr th {
  background-color: #ededed;
  text-shadow: 0 1px 0 #ffffff;
}
table.tablesorter thead tr .header {
  background-image: url(../img/bg.gif);
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}
table.tablesorter thead tr .headerSortUp {
  background-image: url(../img/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
  background-image: url(../img/desc.gif);
}


.green-tick {
    background-image: url(../img/green_check.png);
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 5px;
    margin-top: 2.5px;
    float:left; 
}


#settings_form .error.alert-danger{
  font-size : .9em;
  padding: 5px 10px;
}


#settings_form .error.alert-danger ul{
  color: #a94442;
}

#logoutForm {
  margin:0
}

#logoutForm input {
    color: #033f61;
    padding: 0;
    border: none;
    background: none;
    padding: 0.5em 1em;
}

#logoutForm:hover {
  background: #e7f4f9;
}

#mobileLogoutForm  {
    padding: 1em 2em;
}

#mobileLogoutForm:hover {
    background-color: #16272d;
}

#mobileLogoutForm input {
    background: none;
    color: #ffffff;    
   border: 0;
    padding:0;
}