@import 'datepicker.css';
@import url(//fonts.googleapis.com/css?family=Roboto:400,500);
@import 'datepicker.css';

.roboto {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.robotoMedium {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
/*
- - - Variables, mixins and styles to embed - - - -
*/
.proximaBold,
.proximaReg,
strong {
  font-weight: normal;
}
.colorTransition {
  transition: color .15s linear;
  -webkit-transition: color .15s linear;
  -moz-transition: color .15s linear;
}
/* - - Helpers - - */
.delist,
.delist li {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* main layout/css start */

a,
a:link,
a:visited {
  font-weight: 400;
  font-weight: normal;
  transition: color .15s linear;
  -webkit-transition: color .15s linear;
  -moz-transition: color .15s linear;
  cursor: hand;
  cursor: pointer;
}

a:hover {
  transition: color .15s linear;
  -webkit-transition: color .15s linear;
  -moz-transition: color .15s linear;
}

h1,
h2,
h3,
h4,
p.highlight {
  letter-spacing: -0.025em;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
h2 {
  color: #414141;
  font-size: 3.3em;
  margin-bottom: .75em;
}
h2 .lead {
  color: #99a4a9;
  display: block;
  letter-spacing: 0;
  font-size: 38px;
  margin-top: 0.5em;
  margin-bottom: -0.5em;
}
.title,
.sub-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-weight: normal;
  margin-bottom: 0.5em;
  clear: left;
  color: #033f61;
}
.title {
  font-size: 24px;
}
.dashboard-header .title {
  margin-bottom: 0;
}
.sub-title {
  font-size: 18px;
}
.helper-info {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  color: #666666;
}
.title-wrap {
  border-bottom: 1px solid #DBE4E7;
  margin-bottom: 1.5em;
}
.title-wrap .title,
.title-wrap .sub-title {
  float: left;
}
.highlight {
  color: #2699c1;
}
.centered {
  text-align: center;
}
p,
ul {
  font-size: 1em;
  color: #787878;
  font-weight: 200!important;
}
ul li ul li {
  font-size: .9em!important;
}
p.lead {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 2em;
  font-size: 1.2em;
  line-height: 1.5em;
}
p.highlight {
  color: #fff!important;
  font-style: italic;
  margin-bottom: 2em;
}
.highlight2 {
  color: #0089AF;
}
p {
  margin-bottom: 1em;
}
.container-fluid {
  max-width: 1200px;
  padding: 0 1em ;
  margin: 0 auto;
  position: relative;
}
.span2 .span1-4 {
  width: 140px;
}
@media (max-width: 749px) {
  .row-fluid .span2 {
    margin-left: 0;
    margin-right: 1em;
  }
}
@media screen and (max-width: 876px) {
  .span2 .span1-4 {
    width: auto;
    float: none!important;
  }
}
.row-fluid [class*="span"]:first-child {
  margin-left: 0;
}
@media screen and (max-width: 876px) and (min-width: 767px) {
  .get-started .row-fluid [class*="span"]:first-child {
    margin-left: 0 !important;
    float: none!important;
    width: auto !important;
  }
  .get-started .row-fluid .span4:nth-of-type(2n),
  .get-started .row-fluid .span4:nth-of-type(3n) {
    width: 49%;
    margin-left: 0;
  }
  .get-started .row-fluid .span4:nth-of-type(2n) {
    margin-right: 2%;
  }
}
.row-fluid .flex-col + .flex-col {
  margin-left: 2.564102564102564%;
}
@media screen and (max-width: 876px) {
  .row-fluid .flex-col + .flex-col {
    margin-left: 0 !important;
    float: none!important;
    width: auto !important;
  }
}
@media screen and (max-width: 876px) {
  .pull-left {
    float: none!important;
  }
  .input-small {
    width: 60%!important;
    max-width: 100%!important;
  }
}
@media screen and (max-width: 876px) {
  .input-small {
    width: 100%!important;
  }
}
/*
- - - - HEADE - - - - -
*/
.page-header {
  background: #128ec3;
  /* Old browsers */
  background: -moz-linear-gradient(-72deg, #128ec3 0%, #046a9a 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #128ec3), color-stop(100%, #046a9a));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-72deg, #128ec3 0%, #046a9a 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-72deg, #128ec3 0%, #046a9a 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-72deg, #128ec3 0%, #046a9a 100%);
  /* IE10+ */
  background: linear-gradient(135deg, #128ec3 0%, #046a9a 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#128ec3', endColorstr='#046a9a', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  padding: .75em 0 .8em;
  margin: 0 auto;
  border-bottom: 0;
  position: relative;
  z-index: 99;
}
.page-header .page-logo {
  float: left;
  border: none;
  display: block;
  margin-top: .25em;
  width: 8%;
  min-width: 100px;
  max-width: auto;
}
.page-header .page-logo svg path,
.page-header .page-logo svg circle {
  fill: #ffffff;
}
.page-header .page-logo:hover {
  opacity: 0.75;
}
.page-header .welcome {
  float: left;
  color: #fff;
  margin: 0.5em 0 0 1em;
  font-size: 14px;
}
.page-header .imgborder {
  border: 1px solid #f4f4f4;
}
.nav_link,
#responsive-nav {
  display: none;
}
#logo img {
  max-width: auto;
}
.header-right {
  float: right;
}
.balance,
.profile {
  float: left;
}
.balance {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-weight: normal;
  color: #67a9c7;
  color: rgba(255, 255, 255, 0.4);
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -ms-transition: color 0.4s;
  -o-transition: color 0.4s;
  font-size: 16px;
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  position: absolute;
  top: -0.8em;
  right: 5.5em;
  padding: 1.2em 1em 0.9em;
}
.balance:hover {
  /*	color: #fff !important;*/
  color: #ffffff;
  text-decoration: none;
}
.balance:hover span {
  color: #fff;
}
.balance span {
  color: #67a9c7;
  font-family: "SSStandard";
  font-weight: bold;
  position: relative;
  margin-left: 5px;
  font-size: 10px;
}
.balance span:hover {
  text-decoration: none;
  color: #fff;
}
.profile {
  position: absolute;
  top: -0.8em;
  right: 1.5em;
}
.profile a {
  padding: 0.8em 0.5em 0.7em;
  display: block;
}
.profile:hover > a,
.profile > a:hover {
  text-decoration: none;
}
.profile:hover > a .toggle,
.profile > a:hover .toggle {
  color: #fff;
}
.profile img {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.profile .toggle {
  color: #67a9c7;
  font-size: 14px;
  margin-left: 0.25em;
  position: relative;
  top: 0.25em;
}
.outer {
  overflow: hidden;
}
/*
- - - - - FOOTER - - - - - */
#footer-wrapper {
  color: #adb6ba;
  width: 95%;
  margin: 0 auto;
  text-align: center;
}
.page-footer {
  padding: 2.4em 0;
}
.page-footer ul {
  margin-bottom: 0;
}
.page-footer li {
  display: inline;
  list-style: none;
  margin-right: 1em;
}
.page-footer a {
  color: #aaaaaa;
}
#wrapper {
  width: 95%;
  background: #fff;
  border: 1px solid #dbe4e7;
  border-radius: 5px;
  margin: 0 auto 1em;
  display: table;
}
.toggle {
  font-size: 10px;
  margin-bottom: -2px;
}
/*
- - - - DASH NAV - - - - */
.dash-nav {
  background: #ffffff;
}
.dash-menu li {
  font-size: 14px;
  font-size: 0.875rem;
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
.dash-menu li .toggle {
  display: none;
  color: #999999;
}
.dash-menu li a {
  display: block;
  padding: 1em;
  color: #033f61;
  transition: none;
  -moz-transition: none;
  -webkit-transition: none;
}
.dash-menu li a:hover {
  text-decoration: none;
  transition: none;
  -moz-transition: none;
  -webkit-transition: none;
}
.dash-menu li.active a,
.dash-menu li.active a:hover {
  /* background: #f2f2f2; */
  color: #2a3f46;
}
.dash-menu li.active.has-sub-menu a:hover .toggle {
  background: #006e95;
  background: #f1f1f1;
}
.dash-menu li.has-sub-menu .toggle {
  display: inline-block;
}
.dash-menu li.has-sub-menu:hover {
  background: #f1f1f1;
}
.dash-menu > li {
  float: left;
}
.dash-menu > li.right {
  float: right;
}
.dash-menu > li a:hover {
  background: #f1f1f1;
  color: #033f61;
}
li:hover > ul.sub-menu,
div:hover > ul.sub-menu {
  display: block;
}
ul.sub-menu {
  margin: 0;
  list-style: none;
  position: absolute;
  top: 3.4em;
  left: 0;
  z-index: 99;
  background: #f1f1f1;
  min-width: 7em;
  border: none;
  padding: 0;
  display: none;
}
.profile ul.sub-menu {
  background: #f1f1f1;
  left: auto;
  right: 0;
  min-width: 5em;
  top: 100%;
  margin-top: -1px;
}
.profile ul.sub-menu li a {
  color: #033f61;
}
.profile ul.sub-menu li a:hover {
  background: #e7f4f9;
}
ul.sub-menu li {
  display: block;
  text-align: left;
}
ul.sub-menu li a {
  display: block;
  padding: 0.5em 1em;
  white-space: nowrap;
  color: #033f61;
  font-size: 0.875rem;
}
ul.sub-menu li a:hover {
  background: #0094c8;
  text-decoration: none;
  background: #e7f4f9;
  color: #3092c1;
}
ul.sub-menu li:last-of-type a {
  border-radius: 0 0 4px 4px;
}
a.mobile-toggle {
  width: 46px;
  height: 42px;
  position: relative;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  float: right;
  outline: 0;
  left: 0;
  margin-top: -18px;
  margin-bottom: -20px;
}
a.mobile-toggle:before,
a.mobile-toggle:after,
a.mobile-toggle span {
  content: ' ';
  position: absolute;
  left: 10px;
  right: 10px;
  height: 3px;
  background: rgba(255, 255, 255, 0.8);
  color: #fff;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  border-radius: 2px;
}
a.mobile-toggle:before {
  top: 10px;
  font-size: 9px;
  line-height: 28px;
}
a.mobile-toggle:after {
  bottom: 10px;
}
a.mobile-toggle span {
  bottom: 19px;
}
a.mobile-toggle:hover:before,
a.mobile-toggle:hover:after,
a.mobile-toggle:hover span {
  background: #ffffff;
  color: #fff;
}
a.mobile-toggle.menu-open {
  left: -260px;
}
a.mobile-toggle.menu-open span {
  opacity: 0;
}
a.mobile-toggle.menu-open:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform-origin: 50% 50%;
  content: ' ';
}
a.mobile-toggle.menu-open:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform-origin: 50% 50%;
}
a.mobile-toggle.menu-open:before,
a.mobile-toggle.menu-open:after {
  top: 20px;
  left: 10px;
}
/*
- - - - - - API SETTINGS - - - - - - */
.api-settings {
  background: #006e95;
  padding: 1em 0;
}
.api-settings ul li {
  float: left;
  color: #b3c3c9;
  margin-right: 1.5em;
  font-size: 14px;
  font-size: 0.875rem;
}
.api-settings ul li strong {
  color: #fff;
}
.api-settings ul li.right {
  float: right;
}
.api-settings .api-close {
  color: #8e9da2;
  font-size: 22px;
  height: 22px;
  text-decoration: none;
  position: relative;
  top: 0.25em;
}
.api-settings .api-close:hover {
  color: #fff;
}
.api-settings .api-close span {
  display: none;
}

/*
 - - - - - - DASHBOARD PANEL - - - - - */
.dashboard-wrap {
  background: #fff;
  margin-top: 2em;
}
.dashboard-wrap > div,
.dashboard-wrap > header {
  padding: 2em;
}
.dashboard-wrap > div.dashboard-header,
.dashboard-wrap > header.dashboard-header {
  padding: 1em 1.75em;
}
/* ++ 27.11.13 */
@media (max-width: 480px) {
  .dashboard-wrap > div.dashboard-header,
  .dashboard-wrap > header.dashboard-header,
  .dashboard-wrap > div {
    padding-left: 1em;
    padding-right: 1em;
  }
  .container-fluid {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  .dashboard-wrap {
    margin-top: 1em;
  }
}
.dashboard-wrap .dashboard-footer {
  padding: 0;
}
.dashboard-header,
.get-started {
  border-bottom: 1px solid #dbe4e7;
}
.dashboard-footer {
  border-top: 1px solid #dbe4e7;
}
.get-started {
  position: relative;
}
.get-started .get-started-close {
  position: absolute;
  right: 2em;
  top: 2em;
  font-size: 22px;
  color: #bac6ca;
}
.get-started .get-started-close span {
  display: none;
}
.get-started .get-started-close:hover {
  text-decoration: none;
  color: #284048;
}
#chartdiv {
  margin-top: 2em;
  margin-bottom: 2em;
}



/*header?*/

@media screen and (max-width: 460px) {
  .snapshot li span.ss-icon {
    display: none;
  }
}
.pipe-tabs {
  border-bottom: none;
}
.pipe-tabs li {
  position: static;
  margin: 0;
  padding: 0;
  display: inline-block;
}
.pipe-tabs li a {
  padding: 0 0.5em;
  border-right: 1px solid #DBE4E7;
  margin: 0;
  top: auto;
  bottom: auto;
}
.pipe-tabs li a.active:hover,
.pipe-tabs li a:hover {
  background: transparent;
  border: none;
  border-right: 1px solid #DBE4E7;
  text-decoration: underline;
}
.pipe-tabs li.active a {
  color: #999;
  text-decoration: underline;
  border: none;
  border-right: 1px solid #DBE4E7;
}
.pipe-tabs li.active a:hover {
  border: none;
  border-right: 1px solid #DBE4E7;
}
.mobile-nav-item {
  display: none;
}
.mobile-nav-icon {
  font-size: 12px;
  color: #b3c3c9;
}
@media (max-width: 840px) {
  .mobile-nav-item {
    display: block;
  }
  .hide-mobile {
    display: none;
  }
  ul#nav {
    position: static;
  }
  header {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
  }
  nav ul {
    display: none;
  }
  .nav_link {
    display: inline-block;
    margin: 0.5em 0 0;
    font-size: 1.2em;
    float: right;
  }
  .nav_link a {
    color: #ffffff;
    text-decoration: none;
  }
}
@media (max-width: 767px) {
  body {
    padding: 0;
  }
  .get-started .get-started-close {
    position: static;
    float: right;
  }
}
@media (max-width: 700px) {
  .page-footer ul {
    max-width: 300px;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    -o-column-count: 2;
    column-count: 2;
  }
  .page-footer li {
    display: block;
    text-align: left;
  }
  .page-footer li.credit {
    column-span: all;
    /* CSS3 */
    -webkit-column-span: all;
    /* Safari and Chrome */
    -moz-column-span: all;
    /* Firefox */
    -ms-column-span: all;
    /* Internet Explorer */
    -o-column-span: all;
    /* Opera */
  }
}

.border-right { border-right: solid #C0C0C0 1px }

section.payment-history {
    margin-top: 2em;
    display: inline-block;
    min-width: 100%;
}

.payment-info .bal th,
.payment-info .bal td {
    padding-top: 1em;
    font-weight: 800;
}

.waiting {
  background: url(../img/spinner.gif) no-repeat;
  margin-top: 30px;
  height: 43px;
  width: 43px;
}

.has-success .form-control {
  border-color: #ccc;
}
.has-success .form-control:focus {
	border-color:#ccc;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ccc;
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ccc;
}

.noleftpadding{
	padding-left:0;
}

.disable_a_href{
	cursor:not-allowed;
    pointer-events: none;
}

.env{
  display:block;
  height: 20px;
  width: 30px;
}

.env_ready,
.env-ready{
  background: url(../img/envelope/envelope-001.svg) no-repeat;
}
.env_downloaded,
.env-downloaded{
  background: url(../img/envelope/envelope-002.svg) no-repeat;
}
.env-pending{
  background: url(../img/envelope/envelope-004.svg) no-repeat;
}
.env-not-ready{
	background: none;
}

#logoutForm {
  margin:0
}

#logoutForm input {
    border: none;
}

#mobileLogoutForm  {
    padding: 1em 2em;
}

#mobileLogoutForm:hover {
    background-color: #16272d;
}

#mobileLogoutForm input {
    background: none;
    color: #ffffff;    
   border: 0;
    padding:0;
}

#dialog-invoice p {
	color: black;
}

.ui-progressbar {
   position: relative;
}

.progress-label {
   position: absolute;
   left: 50%;
   top: 4px;
   font-weight: bold;
   text-shadow: 1px 1px 0 #fff;
}